{% extends "main.html" %}

{% block content %}

<h1> Proof of Work and Webapplication PoC </h1>

<p>{{ MyDebug }}
</p>

<h2> sha256-test </h2>

<script src="sha256.js"></script>

<textarea id="input" rows=5>abc</textarea>
<input id="button" type="button" value="calculate" />
<textarea id="output" rows=1 cols=72 style="text-align: center"></textarea>

<script>
     document.getElementById('button').onclick = function () {
             document.getElementById('output').value = sha256(document.getElementById('input').value);
     };
</script>

<h2> Proof-of-Work (sha256) Test </h2>

<p>
Challenge: {{ Challenge }}, Difficulty: {{ Difficulty }} <br/>
Drückt man auf den calculate-Button, startet der Berechnungsvorgang.
Beim <a href="/">Neuladen</a> der Seite erzeugt der Server eine neue Challenge.
</p>

<input id="button2" type="button" value="calculate" /><br/>
<textarea id="output2" rows=3 cols=72 style="text-align: center"></textarea>

<script>
     document.getElementById('button2').onclick = function () {
             var i;
             var CMP="";
             for (i=0; i<{{Difficulty}}; i++) {
                CMP=CMP+"0"
             }
             var Challenge={{ Challenge }}
             var xx;
             var startTime, endTime;
             i=0;
             startTime = new Date();
             do {
                i++;
                xx=sha256(Challenge + i.toString());
             } while (! xx.startsWith(CMP,0) );
             endTime = new Date();
             var timeDiff = endTime - startTime;
             document.getElementById('output2').value = xx + '\n benötigte Berechnungszeit: ' +
                    timeDiff.toString() + 'ms\nResponse: '+ i.toString();
     };
</script>

<h2> Proof-of-Work (Argon2) Test </h2>

"The memory-hard Argon2 password hash and proof-of-work function" <a href="https://tools.ietf.org/html/draft-irtf-cfrg-argon2-03">[X]</a> 
<a href="https://datatracker.ietf.org/doc/draft-irtf-cfrg-argon2/">[Y]</a>
<a href="https://github.com/antelle/argon2-browser">[Z]</a>.


{% endblock %}
